@use "../abstracts/" as *;

html{
  scroll-behavior: smooth;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
body {
  font-family: $ff-base;
  font-weight: $body-fw;
  font-size: $body-fs;
  color: $clr-primary-txt-400;
  background-color: $clr-secondary-100;
  line-height: $body-line-height;
}


